Task:

Is the beef consumption in Argentina significantly different from that in Bangladesh?

H₀: Mean beef consumption (Argentina) = Mean beef consumption (Bangladesh)

H₁: Mean beef consumption (Argentina) ≠ Mean beef consumption (Bangladesh)

In [3]:
import gdown

In [ ]:
file_id = '1yB5qSBOLl96Y563nIewKOU8RN_gsY3dO'  
gdown.download(f'https://drive.google.com/uc?id={file_id}', 'data.csv', quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1yB5qSBOLl96Y563nIewKOU8RN_gsY3dO
To: c:\Users\ncc101\Desktop\Zedprince-1\data.csv
100%|██████████| 52.0k/52.0k [00:00<00:00, 56.3MB/s]

'data.csv'

In [4]:
import pandas as pd
import numpy as np
import scipy

In [5]:
df=pd.read_csv('data.csv')

df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

     country food_category  consumption  co2_emission
0  Argentina          pork        10.51         37.20
1  Argentina       poultry        38.66         41.53
2  Argentina          beef        55.48       1712.00
3  Argentina     lamb_goat         1.56         54.63
4  Argentina          fish         4.36          6.96

In [6]:
df.describe()

        Unnamed: 0  consumption  co2_emission
count  1430.000000  1430.000000   1430.000000
mean    715.500000    28.110406     74.383993
std     412.949755    49.818044    152.098566
min       1.000000     0.000000      0.000000
25%     358.250000     2.365000      5.210000
50%     715.500000     8.890000     16.530000
75%    1072.750000    28.132500     62.597500
max    1430.000000   430.760000   1712.000000

### Test of Hypothesis

In [6]:
from scipy import stats

One sample t-Test

Question:Is the beef consumption in Argentina significantly different from that in Bangladesh?

H₀: Mean beef consumption (Argentina) = Mean beef consumption (Bangladesh)

H₁: Mean beef consumption (Argentina) ≠ Mean beef consumption (Bangladesh)

In [8]:
# select Argentina and Bangladesh beef consumption
arg_beef=df[(df['country']=='Argentina')& (df['food_category']=='beef')]
print('Argentina beef:\n',arg_beef.head())

bang_beef=df[(df['country']=="Bangladesh")&(df['food_category']=="beef")]
print('Bangladesh beef\n',bang_beef.head())

Argentina beef:
      country food_category  consumption  co2_emission
2  Argentina          beef        55.48        1712.0
Bangladesh beef
          country food_category  consumption  co2_emission
1421  Bangladesh          beef         1.28          39.5

In [10]:
arg_consp=arg_beef['consumption']
bang_consp=bang_beef['consumption']

In [13]:
arg_consp_mean=arg_consp.mean()
print('Argentinas comsumption mean:\n',arg_consp_mean)

bang_consp_mean=bang_consp.mean()
print('Bangladesh consumption mean:\n',bang_consp_mean)

Argentinas comsumption mean:
 55.48
Bangladesh consumption mean:
 1.28

In [15]:
arg_beef_sample = np.random.normal(loc=arg_consp_mean, scale=5,size=30)
bang_beef_sample=np.random.normal(loc=bang_consp_mean, scale=5, size=30)

In [21]:
# one sample t-test
t_stat,p_val=stats.ttest_ind(arg_beef_sample,bang_beef_sample)
print('T-statistics:',t_stat)
print('P-Value:',p_val)

T-statistics: 39.57098770065068
P-Value: 1.1467358301114817e-43

Interpretation :

If p < 0.05, reject H₀ → beef consumption differs significantly.

If p ≥ 0.05, fail to reject H₀.

Decision:

since p < 0.05, therefore we reject the H₀